
# General
.DS_Store
.idea
.vscode/

# Flutter
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
build/
.pub/
.pub_cache/

# Firebase
.firebase/

# Node.js (for Cloud Functions)
videochat/node_modules/
videochat/package-lock.json
npm-debug.log

# Logs
*.log
